<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="./css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        <div class="container">
            {{>header}}
            <div class="main-content">
                <p id="about-para">This site was created by Brooke Doyle.
                    It uses Node, Express, Heroku, and API's from mapbox.com and weatherstack.com. I used Figma to design the footer</p>
                <a href="" alt="website-link">View my site</a>
                <img href="https://github.com/dookebroyle" id="git-img" src="./img/github-logo.png" alt="github link">
                
            </div>
            {{>footer}} 
        </div>
    </body>
</html>