<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="./css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        <div class="container">
            {{>header}}
            <div class="main-content">
                <p id="about-para">This site was created by Brooke Doyle.
                    It uses Node, Express, Heroku, and API's from mapbox.com and weatherstack.com to obtain geolocation and weather data. I used Figma to design the footer.</p>
                
                <a href="https://github.com/dookebroyle/weather-app" class="contact-text"><img id="git-img" src="./img/github-logo.png" alt="github link"></a>
                
            </div>
            {{>footer}} 
        </div>
    </body>
</html>