<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="./css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
        <div class="main-content">
            {{>header}}
            
            <p id="aboutme-name-title">Brooke Doyle</p>

            <img class="portrait" src="/img/me.png">

            <p id="about-para">This site was created by Brooke Doyle.
                 It uses Node, Express, Heroku, and API's from mapbox.com and weatherstack.com. </p>
        </div>
        {{>footer}} 
    </body>
</html>