<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="./css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p id="contact-text"> {{contactTxt}}</p> 
        </div>
        {{>footer}} 
    </body>        
    
</html>