<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="./css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <div class="container">
        {{>header}}
        <div class="main-content">
            <img id="develop-img" src="https://i.pinimg.com/originals/cd/6d/6b/cd6d6b01e938ef486734ce8dd2544ae5.png">
            <p class="contact-text">Contact me at: <a href="mailto:brookedoyle13@gmail.com" class="contact-text">brookedoyle13@gmail.com</a></p>
            
            
        </div>
        {{>footer}} 
        </div>
    </body>        
    
</html>