<footer class="footer">
    


    <div class="sun-container">
        <img src="./img/sun.png" id="sun-img" alt="sun-image">
    </div>

    <div class="mountain-container">
        <img src="./img/mountains.png" id="mountain-img" alt="mountains-image">
    </div>

</footer>