<footer class="footer">
    
    <div class="branding-container">
                <p id="author-footer-text">created by Brooke Doyle</p>
                <img href="https://github.com/dookebroyle" id="git-img" src="./img/github-logo.png" alt="github link">
    </div>

    <div class="sun-container">
                <img src="./img/sun.png" id="sun-img" alt="sun-image">
    </div>

    <div class="mountain-container">
                <img src="./img/mountains.png" id="mountain-img" alt="mountains-image">
    </div>

</footer>