<header class="header">
    <h1 class="title">Weather</h1>
    <nav class="nav-bar">
        <div class="nav-item-list">
            <a href="/" class="nav-item">Weather</a>
            <a href="/about" class="nav-item">About</a>
            <a href="/contact" class="nav-item">Contact</a>
        </div>
    </nav>
</header>