<header class="header">
    <h1 class="title">Weather</h1>
    <nav class="nav-bar">
        <ul class="nav-item-list">
                    <li class="nav-item">Weather</li>
                    <li class="nav-item">About</li>
                    <li class="nav-item">Contact</li>
        </ul>
    </nav>
</header>