<header class="header">
    <h1 class="title">{{title}}</h1>
    <nav class="nav-bar">
        <div class="nav-item-list">
            <a href="/" class="nav-item" id="home-nav">Weather</a>
            <a href="/about" class="nav-item" id="about-nav">About</a>
            <a href="/contact" class="nav-item" id="contact-nav">Contact</a>
        </div>
    </nav>
</header>